<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let cliente of clientes">
      <ion-item button [routerLink]="['/cliente', cliente.id]">
        <ion-label>
          {{ cliente.id }}
          <p>{{ cliente.id }}</p>
          <p>{{ cliente.title }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deletarCliente(cliente.id)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Excluir
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button routerLink="/cliente" expand="block">
            Add Cliente
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>